
.edit {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 25em;
  width: 90%;
}

.edit__phase {
  margin-top: 1.5em;
}

.edit__exer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0.3em;
}