

.day-plan__header {
  h3 {
    margin: 0.3em auto;
  }
}

.day-plan__content {
  overflow: auto;
}

.day-plan__exer-list {
  margin: 0 auto;
  width: 90%;
  height: auto;
}


.btn--edit {
  display: block;
  height: 1.8em;
  padding: 0.1em;
  text-transform: initial;
  width: 4em;
  margin: 0.4em auto;
}