
.edit-day__phase {
  grid-gap: 0.3em;
  @media (min-width: 25.5em) {
    grid-template-columns: auto auto;
  }
}

.edit-day__exer {
  grid-template-columns: auto;
  grid-gap: 0.2em;
  @media (min-width: 31.5em) {
    grid-template-columns: auto auto;
  }
}

.edit-day__select {
  width: 13em;
}

.edit-day__delete-exer {
  color: $font-light;
  cursor: pointer;
  font-weight: $medium;
  padding-bottom: 2px;
  &:hover {
    color: $font-tert;
  }
}

.edit-day__btns {
  padding-top: 0.8em;
}

.btnSaveDay {
  border: 0.095em solid $accent;
  color: $font-accent;
  margin-right: 0.5em;
  width: 5.8em;
}

.btnCancelDay {
  width: 5.8em;
}