.exercise {
  background: $blue;
  border: 1px solid $white;
  border-left: 0.5em solid $accent;
  color: $font-light;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.exercise__header {
  cursor: pointer;
  text-align: center;
  width: 100%;
  &:hover {
    background: lighten($blue, 4);
  }
}

.exercise__title {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.exercise__content {
  display: none;
  padding: 0.4em;
}

.exercise__components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}