// Global exercises components styles

.ex-comp__background {
  background: $black;
  border: 1px solid $gray;
  margin: 0.75em 0 0 0;
  padding: 0.6em;
  width: 100%;
}

.ex-comp__window {
  background: $blue;
  border: 1px solid $gray;
  margin: 0.6em 0 0 0;
  padding: 0.6em;
}

.ex-comp__2-btns {
  grid-template-columns: auto;
  grid-gap: 0.6em;
  justify-content: center;
  padding-top: 0.6em;
  button {
    width: 11.15em;
  }
  @media (min-width: 30.5em) {
    grid-template-columns: auto auto;
  }
}

// Route Adder and Boulder Adder

.routeAdder, .boulderAdder {
  margin: 0.6em 0 0 0;
}

.logged-route__inputs, .logged-boulder__inputs {
  grid-template-columns: 3.8em 1fr;
  grid-gap: 0.3em;
  margin-bottom: 0.3em;
  @media (min-width: 29em) {
    grid-template-columns: 1fr 1fr 3.8em 7.2em;
  }
}

.route__name, .boulder__name {
  grid-column: 1 / span 2;
}

.route__grade, .boulder__grade {
  max-width: 3.8em;
}

.route__status, .boulder__status {
  max-width: 7.2em;
}

.route__notes, .boulder__notes {
  min-height: 4em;
}


// Timer

.timer {
  background: $black;
  border: 1px solid $white;
  margin: 0.5em 0 0 0;
  max-width: 18em;
  padding-bottom: 1.3em;
  position: relative;
  width: 95%;
}

.timer__title {
  margin-top: 0.75em;
}

.set-timer {
  align-items: center;
  color: #F7F7F7;
  grid-template-columns: repeat(5, auto);
  padding: 0 1em;
}

.set-timer__colon {
  font-size: 1.5rem;
  margin: 0 0.4em;
}

.timer__digits {
  font-size: 2rem;
  line-height: 1;
}

.timer__unit {
  font-size: 1.2rem;
}

.arrow-up, .arrow-down {
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 0;
  width: 0;
  &:focus {
    outline: none;
  }
}

.arrow-up {
  border-bottom: 0.7em solid $white;
  &:hover {
    border-bottom: 0.7em solid $gray;
  }
}

.arrow-down {
  border-top: 0.7em solid $white;
  &:hover {
    border-top: 0.7em solid $gray;
  }
}

#timerStart {
  margin-top: 1em;
}

.counter-container {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.counter {
  background: $background;
  border: 1px solid $gray;
  color: #f7f7f7;
  margin: 0 auto;
  
}

.counter__digits {
  grid-gap: 0.3em;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  padding: 0.75em;
}

.counter__digit {
  font-size: 2.25rem;
  text-align: center;
  width: 1.75em;
}

.counter__comma {
  font-size: 1.75rem;
}

.counter__btns {
  grid-gap: 0.75em;
  padding: 0 0.75em 0.75em 0.75em;
  button {
    width: 6em;
  }
  @media (min-width: 22.5em) {
    grid-template-columns: auto auto;
  }
}

.counter__resume {
  border: 0.095em solid $accent;
  color: $font-accent;
}

// Long Set Adder

.long-set__left-col {
  padding-right: 0.6em;
}

.long-set__title {
  margin: 0 0 0.25em 0;
  text-align: center;
}

.long-set__inputs {
  grid-template-columns: auto 1fr;
  margin-bottom: 0.6em;
}

.long-set__duration {
  display: block;
  margin: 0 auto;
  width: 3.2em;
}

.long-set__add-skill {
  grid-gap: 0.5em;
  margin: 0 auto;
  text-align: left;
  @media (min-width: 25.5em) {
    grid-template-columns: auto auto;
  }
}

.long-set__skill-select {
  width: 11.25em;
}

.longSetAdder, .routeAdder {
  margin: 0.6em 0 0 0;
}

.skill {
  background: $black;
  border: 1px solid $white;
  color: $font-light;
  margin: 0 auto 0.6em auto;
  position: relative;
  width: 100%;
}

.skill__header {
  cursor: pointer;
  text-align: center;
  width: 100%;
  &:hover {
    background: lighten($black, 4);
  }
}

.skill__title {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.skill__content {
  display: none;
  padding: 0.4em;
}

// Hangboard routine

.saveHBbtn {
  margin-top: 0.6em;
}

.hangboard__title {
  margin: 0.25em 0;
}

.hangboard__settings {
  text-align: left;
  p {
    display: flex;
    flex-flow: column;
    margin: 0;
    @media (min-width: 22.8em) {
      display: block;
    }
  }
  p:nth-child(2) {
    margin-top: 0.6em;
  }
}

.hangboard__settings-rep {
  width: 8.7em;
}

.hangboard__settings-rest {
  width: 2.5em;
}

.hangboard-set__top {
  margin-bottom: 0.6em;
  @media (min-width: 24.8em) {
    text-align: left;
  }
}

.hangboard-set__bot {
  grid-gap: 0.6em;
  grid-template-columns: auto;
  text-align: left;
  @media (min-width: 21.4em) {
    grid-template-columns: auto auto;
  }
  @media (min-width: 27.3em) {
    grid-template-columns: auto auto auto;
  }
}

.hangboard-set__title {
  display: inline-block;
  margin: 0 0.4em 0.4em 0.4em;
}

.hangboard__set-reps {
  width: 2em;
}

.hangboard__set-resis {
  width: 4em;
}

.hangboard__set-check {
  cursor: pointer;
  color: $background;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  background: $white;
  height: 1em;
  width: 1em;
}

.hangboard-set__bot-c {
  grid-gap: 0.2em;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
