
.modal-container {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.modal {
  position: relative;
  background: $white;
  width: 90%;
  margin: 3vh auto;
  height: 92vh;
  max-width: 35em;
  
}

.modal-content {
  overflow: auto;
  max-height: calc(90vh - 40px);
}

.modal__close-btn {
  cursor: pointer;
  color: $white;
  font-size: 1.5rem;
  position: absolute;
  right: 0.35em;
  top: 0.45em;
  &:hover {
    color: darken($white, 8);
  }
}

.overflowless {
  overflow: hidden;
}

.modal__header {
  align-items: center;
  background: $endur;
  display: flex;
  height: 40px;
  padding: 0.2em;
  h3 {
    margin: 0.3em 0.3em;
  }
  @media (max-width: 52em) {
    justify-content: center;
  }
}