
.modal-container {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.modal {
  background: $white;
  height: 80vh;
}

.modal__close-btn {
  cursor: pointer;
  color: $white;
  font-size: 1.5rem;
  position: absolute;
  right: -0.3em;
  top: -0.4em;
  &:hover {
    color: darken($white, 8);
  }
}

.overflowless {
  overflow: hidden;
}

.modal__header {
  align-items: center;
  background: $endur;
  display: flex;
  padding: 0.2em;
  h3 {
    margin: 0.3em 0.3em;
  }
  @media (max-width: 52em) {
    justify-content: center;
  }
}