
.navbar {
  background-color: $endur;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  @media (max-width: 40em) {
    flex-direction: column;
  }
}

.navbar__title {
  color: $white;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0.2em 0;
  text-align: center;
  @media (max-width: 28em) {
    display: flex;
    flex-flow: column;
  }
}

.navbar__menu {
  margin: 0.6em 0;
  ul {
    margin: 0; 
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0 0.5em;
    padding: 0;
  }
  @media (max-width: 40em) {
    display: none;
  }
}

.navbar__menu__item--log {
  background-color: transparent;
  border: solid 2px $base;
  border-radius: 1em;
  color: $base;
  cursor: pointer;
  font-weight: 700;
  padding: 0.15em 0.5em;
  transition: ease-in 0.125s;
  &:hover {
    background-color: rgba($base, 0.6);
    color: $endur;
  }
}