
.greet-user__title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.plan-templates {
  display: grid;
  grid-gap: 0.8em;
  grid-template-columns: repeat(4, 12em);
  margin: 2em auto 0 auto;
  justify-content: center;
  @media (max-width: 52em) {
    grid-template-columns: repeat(2, 12em);
  }
  @media (max-width: 27.5em) {
    grid-template-columns: repeat(1, 12em);
  }
}

.start-date {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0.2em;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 0 0.3em;
    text-align: center;
  }
  input {
    margin-right: 0.3em;
  }
  @media (max-width: 33em) {
    grid-template-columns: repeat(1, auto);
  }
}

.start-date__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-new-season__btn {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.5em 0.3em;
  width: 12em;
  &:focus {
    outline: none;
  }
}

.plan-templates__btn {
  @include linear-gradient($rest);
  color: $white;
  &:hover {
    background: lighten($rest, 8);
  }
  
}

.plan-templates__btn--active {
  background: $base;
  cursor: default;
  &:hover {
    background: $base;
  }
}

.start-new-season__btn--next {
  background: transparent;
  color: $power;
  display: block;
  font-size: 1.2rem;
  margin: 1em auto 0 auto;
  text-align: center;
  &:hover {
    color: lighten($power, 8);
  }
}