
.season {
  background: $blue;
  border: 1px solid $gray;
  grid-template-columns: 1fr;
  margin: 1.5em auto;
  padding: 1em;
  width: 90%;
  max-width: 1100px;
  @media (min-width: 66.625em) {
    grid-template-columns: 1.8em 1fr;
    padding: 0 1em 1em 0;
  }
}

.season__corner {
  height: 2em;
}

.season__weeks {
  padding-left: 0.4em;
}

.season__weeks__item {
  color: $font-light;
  font-weight: $medium;
  height: 3.38em;
  // padding: 0 0.5em;
}

.season__days {
  @media (min-width: 66.625em) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.season__days__item {
  color: $font-light;
  font-weight: $medium;
  height: 2.5em;
  padding: 0 1em;
}

.season__days, .season__weeks {
  display: none;
  @media (min-width: 66.625em) {
    display: grid;
  }
}

.season__plan {
  grid-template-columns: repeat(auto-fit, minmax(7.8em, 1fr));
  @media (min-width: 66.625em) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.season, .season__plan, .season__days, .season__weeks {
  grid-gap: 0.4em;
}

.cell {
  color: $font-sec;
  cursor: pointer;
  background: $black;
  border: 1px solid $gray;
  height: 3.38em;
  padding: 0 0.1em;
  position: relative;
  transition: 0.125s;
  &:hover {
    background: lighten($black, 3);
  }
}

.cell__date {
  background: $black;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 0 0 0.2em;
  position: absolute;
  margin: 0;
  top: 1px;
  right: 3px;
}

.cell__title {
  padding: 0 0.1em;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.cell__title--primary {
  color: $font-light;
  font-weight: 500;
}

.cell--disable {
  cursor: default;
  pointer-events: none;
}

.cell--base {
  border-left: 0.5em solid $base;
  &:hover {
    border: 1px solid $base;
    border-left: 0.5em solid $base;
  }
}

.cell--strength {
  border-left: 0.5em solid $strength;
  &:hover {
    border: 1px solid $strength;
    border-left: 0.5em solid $strength;
  }
}

.cell--power {
  border-left: 0.5em solid $power;
  &:hover {
    border: 1px solid $power;
    border-left: 0.5em solid $power;
  }
}

.cell--endur {
  border-left: 0.5em solid $endur;
  &:hover {
    border: 1px solid $endur;
    border-left: 0.5em solid $endur;
  }
}

.cell--perf {
  border-left: 0.5em solid $perf;
  &:hover {
    border: 1px solid $perf;
    border-left: 0.5em solid $perf;
  }
}

.cell--rest {
  border-left: 0.5em solid $rest;
  &:hover {
    border: 1px solid $rest;
    border-left: 0.5em solid $rest;
  }
}

.currentDay {
  
}