
.season-table, .cells-wrapper, .days-wrapper, .weeks-wrapper {
  display: grid;
  grid-gap: 0.2em;
}

.season-table {
  grid-template-columns: 2.2em 1fr;
  margin: 4em auto;
  width: 95%;
  max-width: 1100px;
  @media (max-width: 58em) {
    grid-template-columns: 1fr;
  }
  @include subtle-shadow; 
}

.cells-wrapper, .days-wrapper {
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  @media (max-width: 58em) {
    grid-template-columns: repeat(auto-fit, minmax(7.2em, 1fr));
  }
}

.days-wrapper, .weeks-wrapper {
  display: default;
  @media (max-width: 58em) {
    display: none;
  }
}

.cells-wrapper {
  padding: 0.2em;
}

.cell {
  box-sizing: border-box;
  background-color: $white;
  color: $white;
  text-align: center;
  font-size: 0.85rem;
  height: 3em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
  p {
    margin: 0;
    padding: 0;
  }
}

.day-row, .week-col {
  color: $darkgrey;
  cursor: default;
  font-weight: 700;
}

.date {
  background-color: $white;
  color: $darkgrey;
  font-size: 0.65rem;
  width: 1.5em;
 
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.rest-cell {
  background: linear-gradient($tab-rest, darken($tab-rest, 8));
  &:hover {
    background: lighten($tab-rest, 8);
  }
}

.base-cell {
  background: linear-gradient($tab-base, darken($tab-base, 8));
  &:hover {
    background: lighten($tab-base, 8);
  }
}

.strength-cell {
  background: linear-gradient($tab-strength, darken($tab-strength, 8));
  &:hover {
    background: lighten($tab-strength, 8);
  }
}

.power-cell {
  background: linear-gradient($tab-power, darken($tab-power, 8));
  &:hover {
    background: lighten($tab-power, 8);
  }
}

.endur-cell {
  background: linear-gradient($tab-endur, darken($tab-endur, 8));
  &:hover {
    background: lighten($tab-endur, 8);
  }
}

.perf-cell {
  background: linear-gradient($tab-perf, darken($tab-perf, 8));
  &:hover {
    background: lighten($tab-perf, 8);
  }
}
