.signup {
  padding-top: 3em;
}

.signup__form {
  width: 90%;
}

.signup__inputs {
  margin: 0 auto 2em auto;
  grid-template-columns: 1fr;
  p {
    margin: 0.5em auto;
  }
}

.signup__input {
  width: 100%;
  max-width: 24em;
}