
.welcome {
  grid-template-columns: 1fr;
  @media (min-width: 63.4em) {
    grid-template-columns: auto 1fr;
  }
}

.welcome__img {
  display: none;
  height: 100vh;
  @media (min-width: 63.4em) {
    display: block;
  }
}

.welcome__signup {
  grid-gap: 1em;
  padding-top: 0.8em;
}