$white: #fafffd;
$lightgrey: #d3d3d3;
$darkgrey: #535353;


// Seasonal plan table colors
$tab-rest: #9c897e;
$tab-base: #91b680;
$tab-strength: #b3bfb8;
$tab-power: #78a1bb;
$tab-endur: #283044;
$tab-perf: #d19119;
$tab-cur: #f7cf21;
