
$background: #0A181B;
$accent: #11E2A4;
$black: #091011;
$blue: #003346;
$white: #F7F7F7;
$gray: #BABABA;
$lightgray: #DCDCDC;

$font-accent: $accent;
$font-dark: $background;
$font-light: $white;
$font-sec: $lightgray;
$font-tert: $gray;

$rest: $gray;
$base: #5890FF;
$strength: #E84600;
$power: #FFF685;
$endur: rgb(185, 64, 74);
$perf: $accent;
